apiVersion: v1
kind: Service
metadata:
  name: node-app-service
  labels:
    app: node-app   # Good practice to have labels here too
spec:
  selector:
    app: node-app
  type: NodePort
  ports:
    - name: http    
      protocol: TCP
      port: 80
      targetPort: 3000
      nodePort: 30007