---
- name: Configure Web Servers
  hosts: webservers
  become: true  # Run as root (sudo)

  tasks:
    - name: Update Apt Cache
      apt:
        update_cache: yes

    - name: Install Docker and Nginx
      apt:
        name:
          - docker.io
          - nginx
        state: present

    - name: Start and Enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Pull and Run Node App Container
      docker_container:
        name: node-app
        image: martins984/devops-node-app:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"

    - name: Configure Nginx as Reverse Proxy
      copy:
        dest: /etc/nginx/sites-available/default
        content: |
          server {
              listen 80;
              location / {
                  proxy_pass http://127.0.0.1:3000;
                  proxy_http_version 1.1;
                  proxy_set_header Upgrade $http_upgrade;
                  proxy_set_header Connection 'upgrade';
                  proxy_set_header Host $host;
                  proxy_cache_bypass $http_upgrade;
              }
          }

    - name: Restart Nginx to Apply Changes
      service:
        name: nginx
        state: restarted